<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WebApplicationTesting2/src/com/instagram/InstagramLogin.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.instagram.InstagramLogin"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WebApplicationTesting2"/>
</launchConfiguration>
